<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="card">
    <div class="card-header">
      username
    </div>
    <div class="card-body">
      <h5 class="card-title">tweet</h5>
      <p class="card-text">hashtags</p>
      <button type="button" class="btn btn-primary" href="/">
          Comments <span class="badge badge-light">4</span>
      </button>
    </div>
  </div>
