<div class="example-container">
    <br>
    <mat-card>
      <section class="mat-typography">
        <h3>Modify My Tweet</h3>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="updateForm" class="edit-form">
        <div class="example-container">
          <mat-form-field appearance="outline">
            <textarea matInput placeholder=username formControlName="username" [(ngModel)]="username"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <textarea matInput placeholder="my words ..." formControlName="tweet_message" [(ngModel)]="tweet_message"></textarea>
          </mat-form-field>
          <mat-divider></mat-divider>
          <br><br>
        </div>
          <button mat-raised-button color="primary" routerLink="/list">Back</button>&nbsp;
          <button type="submit" (click)="updateTweet(tweet_message.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Post</button>
      </form>
    </mat-card>
</div>


